<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Abraça Pet - Adote um Amigo</title>
</head>

<body>

    <header>
        <div>
            <img src="../static/img/logo.png" alt="Logo do Projeto">
            <h1>Abraça Pet</h1>
            <p>Conectando ONGs em Teresópolis</p>
        </div>
    </header>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776; Menu</label>
    <nav id="navbar">
        <ul class="menu-items">
            <li><a href="index.html">Início</a></li>
            <li><a href="animais.html">Animais para Adoção</a></li>
            <li><a href="resgate-denuncia.html">Resgate / Denúncia</a></li>
            <li><a href="historico-adocoes.html">Histórico de Adoções</a></li>
            <li><a href="agendamento.html">Agendamento de Visitas</a></li>
            <li><a href="como-ajudar.html">Como Ajudar</a></li>
            <li><a href="quem-somos.html">Sobre</a></li>
            <li><a href="login.html">Login / Registro</a></li>
        </ul>
    </nav>

    <main>

        <article id="adocao">
            <div>
                <h2>Animais para Adoção</h2>
                <p>
                    Conheça nossos amigos peludos que estão à espera de um lar.
                    Cada animal tem uma história única
                    e merece uma chance de ser feliz.
                </p>
            </div>

            <div class="article-image">
                <img src="../static/img/animal-adocao.png" alt="Animais para Adoção">
            </div>
        </article>

        <article id="animais">
            animais para adoção
        </article>

        <article class="back-to-top">
            <a href="#" class="link-botao">Voltar ao início</a>
        </article>

    </main>

    <footer>
        <div class="container flex-footer">
            <div class="footer-logo">
                <img src="../static/img/logo-white.png" alt="Logo do Projeto">
                <p>&copy; 2025 Abraça Pet.</p>
                <p>Todos os direitos reservados.</p>
            </div>
            <nav>
                <h3>Navegação</h3>
                <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="animais.html">Animais para Adoção</a></li>
            <li><a href="resgate-denuncia.html">Resgate / Denúncia</a></li>
            <li><a href="historico-adocoes.html">Histórico de Adoções</a></li>
            <li><a href="agendamento.html">Agendamento de Visitas</a></li>
            <li><a href="como-ajudar.html">Como Ajudar</a></li>
            <li><a href="quem-somos.html">Sobre</a></li>
                </ul>
            </nav>

            <nav>
                <h3>Termos de Serviço</h3>
                <ul>
                    <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="termos-uso.html">Termos de Uso</a></li>
                </ul>
            </nav>

            <div class="">
                <h3>Desenvolvido com</h3>
                <div class="footer-icons">
                    <img src="../static/img/html5.png" alt="Html5">
                    <img src="../static/img/css3.png" alt="Css3">
                    <img src="../static/img/python.png" alt="Python">
                </div>
            </div>

        </div>

    </footer>

</body>

</html>