<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Abraça Pet - Adote um Amigo</title>
</head>

<body>

    <header>
        <div>
            <img src="../static/img/logo.png" alt="Logo do Projeto">
            <h1>Abraça Pet</h1>
            <p>Conectando ONGs em Teresópolis</p>
        </div>
    </header>

    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="menu-icon">&#9776; Menu</label>
    <nav id="navbar">
        <ul class="menu-items">
            <li><a href="index.html">Início</a></li>
            <li><a href="animais.html">Animais para Adoção</a></li>
            <li><a href="resgate-denuncia.html">Resgate / Denúncia</a></li>
            <li><a href="historico-adocoes.html">Histórico de Adoções</a></li>
            <li><a href="agendamento.html">Agendamento de Visitas</a></li>
            <li><a href="como-ajudar.html">Como Ajudar</a></li>
            <li><a href="quem-somos.html">Sobre</a></li>
            <li><a href="login.html">Login / Registro</a></li>
        </ul>
    </nav>
    <main>

        <article id="sobre">
            <div class="article-image">
                <img src="../static/img/sobre-nos.png" alt="Sobre Nós">
            </div>

            <div>
                <h2>Quem Somos</h2>
                <p>
                    Somos um grupo de desenvolvedores apaixonados por animais
                    e tecnologia, dedicados a criar soluções que ajudem na
                    adoção responsável de pets, conectando ONGs na cidade de Teresópolis.
                </p>

                <hr>
                
                <h2>Nosso Compromisso</h2>
                <p>
                    Estamos comprometidos em promover a adoção responsável de animais,
                    oferecendo uma plataforma que facilite a conexão entre ONGs e pessoas
                    interessadas em adotar um pet. Acreditamos que cada animal merece um lar
                    amoroso e estamos aqui para ajudar nessa missão.
                </p>

                <hr>

                <h2>Nossa Missão</h2>
                <p>
                    Nossa missão é criar um ambiente seguro e acolhedor para animais
                    abandonados, proporcionando uma plataforma onde ONGs possam divulgar
                    seus animais disponíveis para adoção e onde adotantes possam encontrar
                    seu novo melhor amigo.
                </p>
            </div>
        </article>

        <article id="equipe">

            <section>
                <div class="equipe-image">
                    <img src="../static/img/equipe1.jpg" alt="Bruno Jacomelli Batista Lima">
                </div>
                <h3>Bruno Jacomelli<br>Batista Lima</h3>
                <p>Função</p>
            </section>

            <section>
                <div class="equipe-image">
                    <img src="../static/img/equipe2.jpg" alt="Emerson de Lima Chardelli">
                </div>
                <h3>Emerson de Lima<br>Chardelli</h3>
                <p>Função</p>
            </section>

            <section>
                <div class="equipe-image">
                    <img src="../static/img/equipe3.jpg" alt="João Pedro Teixeira">
                </div>
                <h3>João Pedro<br>Teixeira</h3>
                <p>Função</p>
            </section>

            <section>
                <div class="equipe-image">
                    <img src="../static/img/equipe4.jpg" alt="Lucas Albuquerque Mello Bezerra">
                </div>
                <h3>Lucas Albuquerque<br>Mello Bezerra</h3>
                <p>Função</p>
            </section>

            <section>
                <div class="equipe-image">
                    <img src="../static/img/equipe5.png" alt="Marco Antonio Araujo de Almeida">
                </div>
                <h3>Marco Antonio<br>Araujo de Almeida</h3>
                <p>Função</p>
            </section>

        </article>

        <article class="back-to-top">
            <a href="#" class="link-botao">Voltar ao início</a>
        </article>

    </main>

    <footer>
        <div class="container flex-footer">
            <div class="footer-logo">
                <img src="../static/img/logo-white.png" alt="Logo do Projeto">
                <p>&copy; 2025 Abraça Pet.</p>
                <p>Todos os direitos reservados.</p>
            </div>
            <nav>
                <h3>Navegação</h3>
                <ul>
            <li><a href="index.html">Início</a></li>
            <li><a href="animais.html">Animais para Adoção</a></li>
            <li><a href="resgate-denuncia.html">Resgate / Denúncia</a></li>
            <li><a href="historico-adocoes.html">Histórico de Adoções</a></li>
            <li><a href="agendamento.html">Agendamento de Visitas</a></li>
            <li><a href="como-ajudar.html">Como Ajudar</a></li>
            <li><a href="quem-somos.html">Sobre</a></li>
                </ul>
            </nav>

            <nav>
                <h3>Termos de Serviço</h3>
                <ul>
                    <li><a href="politica-privacidade.html">Política de Privacidade</a></li>
                    <li><a href="termos-uso.html">Termos de Uso</a></li>
                </ul>
            </nav>

            <div class="">
                <h3>Desenvolvido com</h3>
                <div class="footer-icons">
                    <img src="../static/img/html5.png" alt="Html5">
                    <img src="../static/img/css3.png" alt="Css3">
                    <img src="../static/img/python.png" alt="Python">
                </div>
            </div>

        </div>

    </footer>

</body>

</html>